{% extends "Template.html.twig" %}

{% block title %}
{{name}} {{firstName}}
{% endblock %}

{% block pageTitle %}
    Template
{% endblock %}

{% block body %}
    <h1>première page</h1>
    <p>Mon nom est <a href="{{path('nom')}}">{{name}}</a> et mon prenom est {{firstName}}</p>
    l'url de la page est : {{url('app_first')}}
{% endblock %}

    
