<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <title>todo</title>
</head>
<body>
{% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info">
        {{message}}
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('sucess') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
{% endfor %}
    <h1 class="H1 fw-bold text-capitalize d-flex justify-content-center my-3">la todo list</h1>
    <ul class="list-group">
        {% for name, content in app.session.get('todos') %}
        <li class='list-group-item'>
            {{name}} : {{content}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
